 <#include "common/common.html" />
 <style>
 	.my-label {
 		width:100px!important;
 	}
 	.wide-input {
 		width:85%;
 	}
 </style>

<form id="form_add" class="layui-form" action=""
	style="padding-top:10px;">
	<div>
		<div class="layui-form-item">
			<label class="layui-form-label my-label"><@spring.message 'list.name'/></label>
			<div class="layui-input-inline">
				<input type="text" name="name" id="name" placeholder="<@spring.message 'tips.input'/>..." 
					autocomplete="off" class="layui-input wide-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label my-label"><@spring.message 'sysConfig.configValue'/></label>
			<div class="layui-input-inline">
				<input type="text" name="value" id= "value" lay-verify="required" placeholder="<@spring.message 'tips.input'/>..."
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label my-label"><@spring.message 'list.describe'/></label>
			<div class="layui-input-inline" style="width:50%">
				<textarea placeholder="<@spring.message 'tips.input'/>..." class="layui-textarea" name="remark" id= "remark" >${(record.remark)!}</textarea>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">
	function init (parentNode) {
		
	}
	
	function check() {
		var selectors = ["#name","#value"];
		var result = true;
		$.each(selectors,function(index, rec){
			if (!checkField(rec)) {
				result = false;
				return false;//调出循环
			}
			
		});
  		return result;
  	}
  	
  	function checkField(selector){
  		var value = $(selector).val();
  		if (value==null || value == '') {
  			$(selector).addClass("layui-form-danger");
  			$(selector).focus();
  			layer.tips('<@spring.message "tips.inputSome"/>', selector);
  			return false;
  		} else {
  			return true;
  		}
  	}
	
	function getData(){
		if (check()) {
			return $('#form_add').serialize();
		} else {
			return null;
		}
  	}
	
	layui.use([ 'form', 'layedit', 'laydate' ],function() {
		var form = layui.form, 
			layer = layui.layer, 
			layedit = layui.layedit, 
			laydate = layui.laydate;
	});
</script>
