 <#include "common/common.html" />
<style>
.layui-elem-quote {
    border-left: 5px solid #6fb7ff!important;
}
</style>

<form id="form_add" class="layui-form" action=""
	style="padding-top:10px;">
	<div style="margin-left:100px;">
		<input type="hidden" value="${(user.id)!}" name="id" id="id"/>
		<div class="layui-form-item">
			<label class="layui-form-label my-label"><@spring.message "login.password"/></label>
			<div class="layui-input-inline">
				<input type="password" name="password1" id="password1" lay-verify="required" placeholder="<@spring.message 'please_enter_the_password'/>"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label my-label"><@spring.message "confirm_password"/></label>
			<div class="layui-input-inline">
				<input type="password" name="password2" id="password2"  lay-verify="required" placeholder="<@spring.message 'please_enter_the_password_again'/>"
					autocomplete="off" class="layui-input">
			</div>
		</div>
				
	</div>
</form>
<#if (PASSWORD_STRENGTH_REQUIRE==1) >
	<blockquote class="layui-elem-quote"><@spring.message "Password_rules"/><!--密码规则-->：
	<span ${(leastLength==1)?string('','style="display:none"')} ><@spring.message "config.Minimum_length"/>‘${lengthValue}’<@spring.message "config.place"/></span>
	<span ${(containNumber==1)?string('','style="display:none"')}><@spring.message "config.Containing_numbers"/><!--包含数字--></span>
	<span ${(containLetter==1)?string('','style="display:none"')}><@spring.message "config.Containing_letters"/><!--包含字母--></span>
	<span ${(containSymbol==1)?string('','style="display:none"')}><@spring.message "config.Containing_symbols"/><!--包含符号--></span></blockquote>
<#else>
  	<blockquote class="layui-elem-quote"><@spring.message "Password_rules"/><!--密码规则-->：<@spring.message "A_password_consists_of_6-21_digits_or_characters"/></blockquote>
</#if>

<script type="text/javascript">

	var isHaveRole = "${PASSWORD_STRENGTH_REQUIRE!}";
	var leastLength = "${leastLength!}";
	var lengthValue = "${lengthValue!}";
	var containNumber = "${containNumber!}";
	var containLetter = "${containLetter!}";
	var containSymbol = "${containSymbol!}";

	layui.use([ 'form', 'layer' ],function() {
		var form = layui.form, 
			layer = layui.layer;
	})
	
	function init (parentNode) {
		
	}
	
	function check() {
		var selectors = ["#password1","#password2"];
		var result = true;
		$.each(selectors,function(index, rec){
			if (!checkField(rec)) {
				result = false;
				return false;//调出循环
			}
			
		});
		
		if (result) {
			if(isHaveRole==1){//使用自己定义的验证规则
				var flag = customRuleAuth('#password1');
				if(!flag){
					$("#password1").addClass("layui-form-danger");
		  			$("#password1").focus();
		  			layer.tips('<@spring.message "Password_Format_Error"/>', "#password1");
			        return false;
				}
			}else{
				//默认规则
				var regExp=/^[a-zA-Z0-9]{6,21}$/;
			    if(!regExp.test($("#password1").val())){
			       	$("#password1").addClass("layui-form-danger");
		  			$("#password1").focus();
		  			layer.tips('<@spring.message "Password_Format_Error"/>', "#password1");
			        return false;
			    }
			}
		    
		    if ($("#password1").val()!==$("#password2").val()) {
		    	$("#password2").addClass("layui-form-danger");
	  			$("#password2").focus();
	  			layer.tips('<@spring.message "Two_password_inconsistencies"/>', "#password2");
		        return false;
		    }
		}
		
  		return result;
  	}
	
	function customRuleAuth(id){
		var value = $(id).val();
		var leastLength = "${leastLength!}";
		var lengthValue = "${lengthValue!}";
		var containNumber = "${containNumber!}";
		var containLetter = "${containLetter!}";
		var containSymbol = "${containSymbol!}";
		if(leastLength=='1'){//验证长度
			if(value.length<lengthValue){
				return false;
			}
		}
		/****************************/

		if(containNumber=='1'){//数字
			var pattern = new RegExp("[0-9]");
			if(!pattern.test($("#password1").val())){
		        return false;
		    }
		}/*else{
			var pattern = new RegExp("[0-9]");
			if(pattern.test($("#password1").val())){
		        return false;
		    }
		}*/
		/****************************/

		if(containLetter=='1'){//字母
			var pattern = new RegExp("[a-zA-Z]");
			if(!pattern.test($("#password1").val())){
		        return false;
		    }
		}/*else{
			var pattern = new RegExp("[a-zA-Z]");
			if(pattern.test($("#password1").val())){
		        return false;
		    }
		}*/
		/****************************/
		if(containSymbol=='1'){//符号
			var pattern = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>《》/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？ ]");
			if (!pattern.test($("#password1").val())){
		        return false;
		    }
		}/*else{
			var pattern = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>《》/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？ ]");
			if (pattern.test($("#password1").val())){
		        return false;
		    }
		}*/
		return true;
	}
  	
  	function checkField(selector){
  		var value = $(selector).val();
  		if (value==null || value == '') {
  			$(selector).addClass("layui-form-danger");
  			$(selector).focus();
  			layer.tips('<@spring.message "tips.inputSome"/>', selector);
  			return false;
  		} else {
  			return true;
  		}
  	}
	
	function getData(){
		if (check()) {
			var data = {
				id:$('#id').val(),
				password:$('#password1').val()
			};
			return data;
		} else {
			return null;
		}
  	}
	
	
</script>
