<!DOCTYPE html>

<html style="overflow: hidden;">

<head>
<meta charset="utf-8">
<title>${CACHE_CONFIG_SYS_NAME!'系统主页'} </title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link href="${basePath}/images/favicon.ico" rel="icon" type="image/x-icon" />
<#include "common/common.html" />

<script type="text/javascript">
	var basePath = '${basePath}';
</script>
<script type="text/javascript" src="${basePath}/js/jquery.vticker.min.js"></script>
 
<link href="${basePath}/css/menu/style2.css" rel="stylesheet" />
</head>

<body onload="javascript:onLoad()">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header header "  >
			<div style="width: 50px;    float: left;">
				<a id="menu-toggle" class="menu-toggle" href="javascript:" ><i class="fa fa-bars"></i></a>
			</div>
			<div class="head-logo">
				<img style="width: 157px;height: 43px" src="${basePath}/images/${(CACHE_CONFIG_SYS_LOGO+'_inner.png')!'logo_dod_inner.png'}" />&nbsp;&nbsp;<span class="system-name">${CACHE_CONFIG_SYS_NAME!''} </span>
			</div>
			<#if (notices && notices?size>0)>
			<div class="header-notice" id="header-notice">
				<div id="dowebok" class="dowebok">
					<ul>
						<#list notices as rec>
						<li><i class="layui-icon">&#xe645; </i><a href="javascript:noticeInfo(${(rec.id)},'${(rec.title)}');" style="color: #82afe4;">${(rec.title)!}</a></li>
						</#list>
					<ul>
				</div>
			</div>
			</#if>
			<div style="float:right">
				<!-- <ul class="layui-nav  admin-header-item layui-nav-left head-menu"> -->
				<ul class="layui-nav nav-head head-menu-ul" style="float:right">
					<#if (user_menus?? && user_menus?size>0)> 
						<#if CACHE_CONFIG_SYS_THEME=="theme_default">
							<#list user_menus as rec>
							<li class="layui-nav-item ">
								<#if (rec.linkUrl)?? && rec.linkUrl!='' >
									<a href="javascript:loadSinglePage(${rec_index},${rec.linkType},'${rec.linkUrl}');">${rec.name}</a>
						       <#else>
						          <a href="javascript:;">${rec.name}</a>
						       </#if>
							    <#if (rec.children?? && rec.children?size>0)>
							    <dl class="layui-nav-child">
							    	<#list rec.children as child>
							      		<dd><a href="javascript:loadContent(${rec_index},${child.linkType},'${child.linkUrl}',${child_index});">${(child.name)!}</a></dd>
							      	</#list> 
							    </dl>
							    </#if>
							 </li>
							 </#list> 
						</#if>
						<#if CACHE_CONFIG_SYS_THEME=="theme_ext_1">
							<#list user_menus as rec>
							<li class="layui-nav-item ${(rec.id==2)?string('layui-this','')}">
								<a href="javascript:loadPage(${rec_index},${rec.linkType},'${rec.linkUrl}',1);">${(rec.name)!}</a>
							</li> 
							</#list> 
						</#if>
						
					</#if>
					<!-- 
					<#if (notices && notices?size>0)>
			        <li class="layui-nav-item">
						<a href="javascript:void(0)" layadmin-event="message" lay-text="消息中心">
			              <span class="layui-badge-dot"></span>
			              <i class="layui-icon layui-icon-notice"></i>
			            </a>
						<dl class="layui-nav-child" >
							<#list notices as rec>
							<dd><a href="javascript:noticeInfo(${(rec.id)},'${(rec.title)}');">${(rec.title)!}</a></dd>
							</#list> 
					    </dl>
					</li>
					</#if>
					 -->
					<li class="layui-nav-item">
						<a href="javascript:void(0)" > 欢迎您,${(user.realname)!}</a>
						<dl class="layui-nav-child">
							<dd><a href="javascript:" id="setPassword">修改密码</a></dd>
					      	<dd><a href="${basePath}/logout">注销</a></dd>
					    </dl>
					</li>

				</ul>
			</div>
		</div>
		<div class="admin-side " id="admin-side" >
				<ul class="vertical-nav dark nav-closed">
					<#if (user_menus?? && user_menus?size>0)> 
						
							<#list user_menus as rec>
					<li class="li-lv1">
						<a href="javascript:">
							<i class="fa ${(rec.iconName)!}"></i>
							<div class="title">
								<span>${(rec.name)!}</span>
								<#if (rec.children?? && rec.children?size>0)>
								<i class="fa fa-angle-right"></i>
								</#if>
							</div>
						</a>
					<#if (rec.children?? && rec.children?size>0)>
					<ul class="ul-lv1">
							    	<#list rec.children as child>
						<li><a href="javascript:loadContent(${rec_index},${child.linkType},'${child.linkUrl}',${child_index});">${(child.name)!}</a></li>
							      	</#list> 
							
					</ul>
					</#if>
					</li>
					</#list>
					</#if>
					
					
				</ul>
				
		</div>
		<div class="main-body left200" 
			id="admin-body">
			<iframe id="content_iframe" width="100%;" height="100%" style="border: 0;" >
			</iframe>
		</div>
		


	</div>
</body>
<script type="text/javascript">
$(function(){
	
	
	$('.dowebok').vTicker({
		pause: 3000
	});
	
	
});
	</script>
<script>
$(document).ready(function(){
	
	//$(".vertical-nav").verticalnav({speed: 400,align: "left"});
	$('#menu-toggle').click(function(){
		$(this).find('i').toggleClass('fa-rotate-90');
		if ($('.vertical-nav').hasClass('nav-open'))
		{				
			$('.vertical-nav').removeClass('nav-open').addClass('nav-closed')
			$('.title').removeClass('title-open').addClass('title-closed');
			$('.submenu-icon').css('display','none');
			
		} else {			
					
			$('.title').removeClass('title-closed').addClass('title-open');
			$('.vertical-nav').removeClass('nav-closed').addClass('nav-open');
			$('.submenu-icon').css('display','block');
		}
		
	});
	$('.title').bind("mouseenter",function(){
		var x=event.clientX;
		var y=event.clientY;
		console.log('x:'+x);
		console.log('y:'+y);
		var chilid = $(this).parent().next();
		if (chilid==null || chilid[0]==null) {
			return;
		}
		var childHeight = chilid[0].offsetHeight;
		console.log('body height:'+document.body.clientHeight);
		console.log('childHeight:'+childHeight);
		var result = (document.body.clientHeight-y > childHeight) ? 'top' : 'bottom';
		console.log('result :'+result);
		chilid.addClass('ul-show');
	}).bind("mouseleave",function(){
		var div = $(this).parent().next()[0];
		if (div==null || div.offsetLeft==null) {
			return ;
		}
		var x=event.clientX;
		var y=event.clientY;
		var divx1 = div.offsetLeft;
		var divy1 = div.offsetParent.offsetTop + $('.header').height();
		var divx2 = divx1 + div.offsetWidth;
		var divy2 = divy1 + div.offsetHeight;
		console.log('divy1:'+divy1);
		console.log('divy2:'+divy2);
		if( x < divx1 || x > divx2 || y < divy1 || y > divy2){
			$('.ul-show').removeClass('ul-show');
		}
	});

	
	
	$('.ul-lv1').bind("mouseleave",function(){
		$('.ul-show').removeClass('ul-show');		
	});

	$('.li-lv2').bind("mouseenter",function(){
		$(this).find('ul:first').addClass('ul-show');
	}).bind("mouseleave",function(){
		var div = $(this).find('ul:first')[0];
		if (div==null || div.offsetLeft==null) {
			return ;
		}
		var x=event.clientX;
		var y=event.clientY;
		var divx1 = div.offsetLeft;
		var divy1 = div.offsetParent.offsetTop + $('.header').height();
		var divx2 = divx1 + div.offsetWidth;
		var divy2 = divy1 + div.offsetHeight;

		if( x < divx1 || x > divx2 || y < divy1 || y > divy2){
			$(this).find('ul:first').removeClass('ul-show');
		}	
	});
	
});

function noticeInfo(id,title) {
	parent.layer.open({
		  type: 2,
		  title: title,
		  shadeClose: true,
		  shade: 0.8,
		  area: ['80%', '70%'],
		  content: basePath + '/notice/info?id='+id //iframe的url
	}); 
}

			layui.use(['form','layer','laytpl','navbar'], function() {
				//菜单打开一个折叠其他的
				$('ul.layui-nav li').click(function() {
						$(this).siblings("li").removeClass('layui-nav-itemed');
					if($(this).hasClass('layui-nav-itemed')){
						$(this).addClass('layui-nav-itemed');
					}else{
						$(this).removeClass('layui-nav-itemed');
					}
				});
				
				var layer = layui.layer,
				laytpl = layui.laytpl
					form = layui.form;
				var navbar = layui.navbar();
				
				form.on('select(menu-filter)', function(data){
					var dataValue = data.value.split('@');
					if (dataValue[0]=='loadSinglePage') {
						loadSinglePage(dataValue[1],dataValue[2],dataValue[3]);
					} else if (dataValue[0]=='loadContent') {
						loadContent(dataValue[1],dataValue[2],dataValue[3],dataValue[4]);
					}
				});   
				
				
				/* $.fn.zTree.init($("#tree"), menuTreeSetting,menuData);
		        zTree = $.fn.zTree.getZTreeObj("tree"); */
				
				
				$('#setPassword').on('click',function(){
					var isSubmit = false;
					parent.layer.open({
							title: '修改密码',
							type:2,
							content:'${basePath}/userInfo/setPassword',
							area: ['600px', '300px'],
							btn:['确定','取消'],
							success: function(layero){
							},
							yes:function(index,layero){
								if(!isSubmit){
									isSubmit = true;
					    			var iframeWin = top.window[layero.find('iframe')[0]['name']]; 
									var data = iframeWin.getData();
									if (data!=null) {
										$.ajax({
							                type: "POST",
							                url:'${basePath}/user/updatePwd',
							                data:data,
							                async: false,
							                error: function(request) {
							                    parent.layer.msg('添加失败！');
							                    isSubmit = false;
							                },
							                success: function(result) {
							                	if(result.code==0){
							                		parent.layer.close(index);
							                		layer.confirm('密码修改成功,请重新登录!', {title:'<@spring.message "action.info"/>',
													  btn: ['确定'] //按钮
													}, function(indexCon){
													  	layer.close(indexCon);
													  	window.location.href = basePath + '/logout';
													});
							                	}else{
							                		parent.layer.msg(result.msg);
							                		isSubmit = false;
							                	}
							                }
							            });
									} else {
										isSubmit = false;
									}
								}
				   		    	
				    		}
						});
				});
				
			});

			var errorUrl = basePath + '/error/system';
			var menuData = JSON.parse('${user_menus_json!}');
			console.log(menuData);
			var zTree;
		    var menuTreeSetting = {
		        check: {
		            enable: false
		        },
		        view: {
		            dblClickExpand: false,
		            showLine: false,
		            showIcon:false,
		            selectedMulti: false,
		        	addDiyDom: addDiyDom
		        },
		        data: {
		            simpleData: {
		                enable:true,
		                idKey: "id",
		                pIdKey: "parentId",
		                rootPId: "0"
		            }
		        },
		        callback: {
		            onClick: zTreeOnClick,
		            beforeExpand:zTreeBeforeExpand,
		            onExpand: onExpand,
		            //onAsyncSuccess: onResourceTreeAsyncSuccess
		        }
		    };
		    
		    function addDiyDom(treeId, treeNode) {
		    	var aObj = $("#" + treeNode.tId + "_a");
		    	var iconName = treeNode.iconName==null?'':treeNode.iconName;
		    	if ($("#diyBtn_"+treeNode.id).length>0) return;
		    	var editStr = "<span id='diyBtn_space_" +treeNode.id+ "' > </span>"
		    		//+ "<img src='images/shezhi.png' />"
		    		//+ "<i class='layui-icon' id='diyBtn_" + treeNode.id +"'>"+iconName+"</i>";
		    		+ "<i class='fa "+iconName+"' id='diyBtn_" + treeNode.id +"'></i>";
		    	aObj.prepend(editStr);
		    	if (treeNode.isParent) {
		    		aObj.append("<span class='menu-more'></span> ");
	    		}
		    };
		    
		    
		    function zTreeOnClick(event, treeId, treeNode) {
		    	zTree.expandNode(treeNode, null, null, null, true);
		    	//if (treeNode.open) {
		    		$('.menu-this').removeClass('menu-this');
		    		if (treeNode.level==0) {
		    			$('.menu-more-open').removeClass('menu-more-open');
		    			$('.level0-menu-this').removeClass('level0-menu-this');
			    		$('.curSelectedNode').parent().addClass('level0-menu-this');
			    		$('.curSelectedNode .menu-more').addClass('menu-more-open');
		    		} else if (treeNode.level==1) {
		    			$(treeNode).parent().addClass('level0-menu-this');
		    			$('.menu-this').removeClass('menu-this');
		    			$('.curSelectedNode').parent().addClass('menu-this');
		    		} else if (treeNode.level==2) {
		    			$(treeNode).parent().parent().addClass('level0-menu-this');
		    		}
		    		//$('.curSelectedNode .menu-more').addClass('menu-more-open');
		    	//} else {
		    	//	$('.curSelectedNode .menu-more-open').removeClass('menu-more-open');
		    	//}
		    	if ((treeNode.linkUrl!=null && treeNode.linkUrl!='' ) || treeNode.type==2 ) {
		    		switch(treeNode.type) {
		    		case 1:
		    			var url = '';
						if (treeNode.linkType!=null && treeNode.linkType!='') {
							if (treeNode.linkUrl.startWith('http://') || treeNode.linkUrl.startWith('https://')) {
								url = treeNode.linkUrl;
							} else {
								url =  basePath+treeNode.linkUrl;
							}
							open(treeNode.linkType,url);
						}
		    			break;
		    		case 2:
		    			var params = parseParam({
		    				hiddenSections:(treeNode.hiddenSections==null||treeNode.hiddenSections==undefined)?'':treeNode.hiddenSections,
		    				href:treeNode.href||'',
		    				iconName:treeNode.iconName||'',
		    				id:treeNode.id||'',
		    				linkType:treeNode.linkType||'',
		    				linkUrl:treeNode.linkUrl||'',
		    				name:treeNode.name||'',
		    				parentId:treeNode.parentId||'',
		    				projectId:treeNode.projectId||'',
		    				reportId:treeNode.reportId||'',
		    				sort:treeNode.sort||'',
		    				state:treeNode.state||'',
		    				title:treeNode.title||'',
		    				type:treeNode.type||'',
		    				typeValue:treeNode.typeValue||'',
		    			});
		    			open(treeNode.linkType,'${basePath}/mstr/reportContainer?'+params);
		    			break;
		    		case 3:
		    			$.get(basePath+"/tableau/ticket",function(result){
		    				if (result!=null && result.code==0) {
		    					open(treeNode.linkType,"${tableauServer!}/trusted/"+result.data+treeNode.linkUrl);
		    				}
		    			});
		    			break;
		    		case 4:
		    			open(treeNode.linkType,treeNode.linkUrl);
		    			break;
		    		case 5:
		    			open(treeNode.linkType,treeNode.linkUrl);
		    			break;
		    		default:
		    			break;
		    		}
		    	}
		    }
		    
		    
		    var curExpandNode = null;
			function zTreeBeforeExpand(treeId, treeNode) {
				var pNode = curExpandNode ? curExpandNode.getParentNode():null;
				var treeNodeP = treeNode.parentTId ? treeNode.getParentNode():null;
				for(var i=0, l=!treeNodeP ? 0:treeNodeP.children.length; i<l; i++ ) {
					if (treeNode !== treeNodeP.children[i]) {
						zTree.expandNode(treeNodeP.children[i], false);
					}
				}
				while (pNode) {
					if (pNode === treeNode) {
						break;
					}
					pNode = pNode.getParentNode();
				}
				if (!pNode) {
					singlePath(treeNode);
				}

			}
			function singlePath(newNode) {
				if (newNode === curExpandNode) return;

	            var rootNodes, tmpRoot, tmpTId, i, j, n;

	            if (!curExpandNode) {
	                tmpRoot = newNode;
	                while (tmpRoot) {
	                    tmpTId = tmpRoot.tId;
	                    tmpRoot = tmpRoot.getParentNode();
	                }
	                rootNodes = zTree.getNodes();
	                for (i=0, j=rootNodes.length; i<j; i++) {
	                    n = rootNodes[i];
	                    if (n.tId != tmpTId) {
	                        zTree.expandNode(n, false);
	                    }
	                }
	            } else if ((curExpandNode && curExpandNode.open) || 
	            		(curExpandNode.getParentNode() && curExpandNode.getParentNode().open)) {
					if (newNode.parentTId === curExpandNode.parentTId) {
						zTree.expandNode(curExpandNode, false);
					} else {
						var newParents = [];
						while (newNode) {
							newNode = newNode.getParentNode();
							if (newNode === curExpandNode) {
								newParents = null;
								break;
							} else if (newNode) {
								newParents.push(newNode);
							}
						}
						if (newParents!=null) {
							var oldNode = curExpandNode;
							var oldParents = [];
							while (oldNode) {
								oldNode = oldNode.getParentNode();
								if (oldNode) {
									oldParents.push(oldNode);
								}
							}
							if (newParents.length>0) {
								zTree.expandNode(oldParents[Math.abs(oldParents.length-newParents.length)-1], false);
							} else {
								zTree.expandNode(oldParents[oldParents.length-1], false);
							}
						}
					}
				}
				curExpandNode = newNode;
			}

			function onExpand(event, treeId, treeNode) {
				curExpandNode = treeNode;
			}
		    
			
			function loadPage(index,linkType, linkUrl,level) {
				$('#content_iframe').html('');
				var url = '';
				if (linkUrl!=null && linkUrl!='') {
					if (linkUrl.startWith('http://') || linkUrl.startWith('https://')) {
						url = linkUrl;
					} else {
						url = basePath + linkUrl;
					}
				}
				switch (linkType) {
				case 1:
					if (level==1) {
						if (menuData[index].children==null) {
							
							if (url!=null && url!='') {
								if (menuData[index].linkType==3) {
										window.open(url);
								} else {
									$('#admin-side').addClass('layui-hide');
									$('#admin-body').removeClass('left200');
									$('#content_iframe').attr('src', url);
								}
							}
							return;
						}
						$('#admin-side').removeClass('layui-hide');
						$('#admin-body').addClass('left200');

						//设置navbar
						navbar.set({
							spreadOne: true,
							elem: '#admin-navbar-side',
							cached: true,
							data: menuData[index].children

						});
						//渲染navbar
						navbar.render(); 
						//监听点击事件
						navbar.on('click(side)', function(data) {
							var index = layer.load(1, {
							  shade: [0.1,'#fff'] //0.1透明度的白色背景
							});
							if (data.type==2) {
								delete data.createTime;
								delete data.updateTime;
								$.post(basePath+'/mstrProject/getReportUrl',data,function(result){
									layer.close(index);
									if (data.linkType==3) {
										window.open(encodeURI(result.data));
									} else {
										$('#content_iframe').attr('src', encodeURI(result.data));
									}
									
								})
							} else {
								var url = '';
								if (data.href!=null && data.href!='') {
									if (data.href.startWith('http://') || data.href.startWith('https://')) {
										url = data.href;
									} else {
										url =  basePath+data.href;
									}
									
									if (data.linkType==3) {
											window.open(url);
									} else {
										$('#content_iframe').attr('src', url);
									}
								}
								
								
								layer.close(index);
							}
						});
						//console.log(navbar);
						//console.log(menuData[index].children[0].href);
						if (menuData[index].children!=null && menuData[index].children.length>0) {
							if (menuData[index].children[0].type!=2) {
								$('.layui-nav-tree .layui-nav-item:first').addClass('layui-this');
								var url_now = menuData[index].children[0].href;
								if (url_now=='' || url_now==null) {
									if ( menuData[index].children[0].children==null) {
										console.log('invalid url');
										$('#content_iframe').attr('src', errorUrl+'?msg=提示：请检查菜单链接配置！！！');
										return ;
									}
									var childUrl = menuData[index].children[0].children[0].href;
									if (!url_now.startWith('http://') && !url_now.startWith('https://') &&childUrl!=null && childUrl!='') {
										$('#content_iframe').attr('src', childUrl);
									}
									return;
								}
								if (!url_now.startWith('http://') && !url_now.startWith('https://')) {
									url_now = basePath+menuData[index].children[0].href;
								} 
								if (menuData[index].children[0].linkType==3) {
									window.open(url_now);
								} else {
									$('#content_iframe').attr('src', url_now);
								}
								
							}
						}
					} else {
							if (data.linkType==3) {
									window.open(url);
							} else {
								$('#content_iframe').attr('src', url);
							}
						}
					break;
				case 2:
					$('#admin-side').addClass('layui-hide');
					$('#admin-body').removeClass('left200');
					$('#content_iframe').attr('src', url);
					break;
				default:
					window.open(url);
					break;
				}
			}
			
			function loadContent(index,linkType, linkUrl,childIndex) {
				var data = menuData[index].children[childIndex];
				if (data.type==2) {
					delete data.createTime;
					delete data.updateTime;
					//if (data.linkType==3) {
					//	window.open(encodeURI(linkUrl));
					//} else {
						var params = parseParam(data);
						
						if (data.linkType==3) {
							window.open('${basePath}/mstr/reportContainer?'+params);
						} else {
							$('#content_iframe').attr('src', '${basePath}/mstr/reportContainer?'+params);
						}
					//}
					/* $.post(basePath+'/mstrProject/getReportUrl',data,function(result){
						console.log(result.data);
						if (data.linkType==3) {
							window.open(encodeURI(result.data));
						} else {
							$('#content_iframe').attr('src', encodeURI(result.data));
						}
					}) */
				} else {
					var url = '';
					if (data.href!=null && data.href!='') {
						if (data.href.startWith('http://') || data.href.startWith('https://')) {
							url = data.href;
						} else {
							url =  basePath+data.href;
						}
						
						if (data.linkType==3) {
								window.open(url);
						} else {
							$('#content_iframe').attr('src', url);
						}
					}
				}
			}
			
			function loadUserRecord(resourceId,linkType, linkUrl) {
				var data = null;
					$.each(menuData,function(index,rec){
						if (rec.id == resourceId) {
							data = rec;
							return false;
						} else if (rec.children!=null) {
							$.each(rec.children,function(i,child){
								if (child.id == resourceId) {
									data = child;
									return false;
								}
							})
							if (data!=null) {
								return false;
							}
						}
					})
				//var data = menuData[index];
				if (data.type==2) {
					delete data.createTime;
					delete data.updateTime;
					if (data.linkType==3) {
						//window.open(encodeURI(result.data));
					} else {
						var params = parseParam(data);
						
						$('#content_iframe').attr('src', '${basePath}/mstr/reportContainer?'+params);
					}
				} 
			}
			
			function loadSinglePage(index,linkType, linkUrl, data) {
				var data = data || menuData[index];
				if (data.type==2) {
					delete data.createTime;
					delete data.updateTime;
					if (data.linkType==3) {
						//window.open(encodeURI(result.data));
					} else {
						var params = parseParam(data);
						$('#content_iframe').attr('src', '${basePath}/mstr/reportContainer?'+params);
					}
					/* $.post(basePath+'/mstrProject/getReportUrl',data,function(result){
						if (data.linkType==3) {
							window.open(encodeURI(result.data));
						} else {
							$('#content_iframe').attr('src', encodeURI(result.data));
						}
					}) */
				} else {
					var url = '';
					if (data.href!=null && data.href!='') {
						if (data.href.startWith('http://') || data.href.startWith('https://')) {
							url = data.href;
						} else {
							url =  basePath+data.href;
						}
						
						if (data.linkType==3) {
								window.open(url);
						} else {
							$('#content_iframe').attr('src', url);
						}
					}
				}
			}
			
			function onLoad() {
				var defaultUrl = '${(defaultUrl)!}';
				if (defaultUrl!=null) {
					loadSinglePage(0,2,defaultUrl);
				} else {
					loadSinglePage(0,menuData[0].linkType,menuData[0].likUrl);
				}
			}
			
			function open(type,url){
				if (type==3) {
					window.open(url);
				} else {
					$('#content_iframe').attr('src', url);
				}
			}
			
			
			
			var parseParam=function(param, key){ 
				  var paramStr=""; 
				  if(typeof param=='string' || typeof param=='number' || typeof param=='boolean' ||
						  param instanceof String||param instanceof Number||param instanceof Boolean){ 
				    paramStr+="&"+key+"="+encodeURIComponent(param); 
				  }else{ 
				 
				    $.each(param,function(i,element){ 
				      	var k=(key==null||key==undefined)?i:key+(param instanceof Array?"["+i+"]":"."+i); 
				      	if (param==null || param==undefined || param=='' ) {
				      		paramStr+="&"+k+"="; 
						} else {
					      	paramStr+='&'+parseParam(element, k); 
						}	
				    }); 
				 
				  } 
				  return paramStr.substr(1); 
				 
				};
		</script>

</html>