<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>${SYS_NAME!'系统主页'} </title>
	<link rel="stylesheet" href="${basePath}/css/theme_left.css" media="all">
	<link href="${basePath}/images/favicon.ico" rel="icon" type="image/x-icon" />
	<style>
		body{
			background-image: linear-gradient(to right, #F0FAFE,#E0EAF7);
		}
		.messageContent{
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
			position: relative;
		}
		.messageTitle{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin-bottom: 0px;
		}
		.layui-nav-tree {
			width: 219px !important;
			padding: 0;
		}
		.layui-layout-admin .layui-header {
			background-color: #393d49 !important;
		}
		.layui-tab-title .layui-this:after {
			top: 37px !important;
			height: 0px !important;
		}
		ol li a {
			background-color: rgba(0,0,0,1) !important;
		}
		.three_this {
			background-color: #808080 !important;
		}
		#head a,#jsonMenus li a{text-decoration: none;}
		.layui-nav-tree{
			width:210px;
		}
		.layui-nav-tree .layui-this{
			color: rgba(255,255,255,.7);
			background-color: #393D49;
		}
		.layui-nav-more {
			right: 10px !important;
		}
		.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
			display:none !important;
		}
		.layui-nav-custom-right{
		    top: 36px !important;
			left:auto !important;
			width:427px;
			right:0px;
			padding: 0px !important;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
		}
		.layui-tab-custom{
			margin: 0px !important;
		}
		.layui-tab-custom-zeroMarge{
			margin: 0px !important;
		}
		.layui-badge-custom-right{
			right:0px;
		}
		.layui-float-custom-left{
			float:left;
		}
		.layui-tab-card>.layui-tab-title li {
		    margin-right: 0px;
		    margin-left: 0px;
		    width: 50%;
		}
		.layui-overHidden-custom-text{
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			padding: 0 5px 0 5px;
		}
		.layui-lineHeight-custom-em{
			line-height: 3em;
    		border-bottom: 1px solid #ddd;
    		border-top: 1px solid #ddd;
		}
		.layui-tab-custom-dd:hover{
			background:#ebf2f9;
		}
		.layui-tab-custom-lineDiv{
			color: #000;
			cursor: pointer;
			padding: 0 10px 0 10px;
		}
		.layui-custom-unpadding{
			padding:0px !important;
		}
		.layui-tab-custom-button{
			text-align: center;
			width: 50%;
			color: #000;
		}
		.layui-tab-custom-button:hover{
			background:#ebf2f9;
		}
	</style>

	<link rel="stylesheet" href="${basePath}/plugins/zui/zui.min.css">
	<link rel="stylesheet" href="${basePath}/plugins/zui/zui.tabs.css">
	<link rel="stylesheet" href="${basePath}/css/loading.css" media="all">
	<#include "common/common.html" />
	<script src="${basePath}/plugins/zui/zui.min.js"></script>
	<script src="${basePath}/plugins/zui/zui.tabs.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<ul class="header-left" >
			<!--<li class="bars"><i id="bars" class="fa fa-bars fa-2x head-icon-h" style="cursor: pointer;"></i></li>-->
			<li class="logo"><a href="${basePath}/"  title="${SYS_NAME!''}" style="color:#fff;text-decoration: none;">
				<img src="${basePath}${(SYS_MAIN_LOGO!='')?string('${SYS_MAIN_LOGO}','/images/dataWindow_black.png')}" />&nbsp;&nbsp;
			</a></li>
			<li class="system-name">${SYS_NAME!''}</li>
			<li>
				<!--<div id="menu_search" class="layui-form scrollbar-hover" lay-filter="test1" >
					<input type="text" id="parentName" name="parentName" value=""
						   class="layui-input search-input layui-hide" placeholder="输入关键字搜索"  >
					<select id="menu-sel" name="menu-sel" lay-verify="" value=""
							lay-search lay-filter="menu-filter" class="menu-search">
					</select>
				</div>-->
			</li>
		</ul>
		<div class="head head-user" id="head"  lay-filter="head">
			<#include "main/theme_left_black_head.html"/>
		</div>
	</div>
	<div class="layui-side layui-bg-black" style="width:220px;background-color: #393d49!important;">
		<div class="layui-side-scroll">
			<ul class="layui-nav layui-nav-tree" lay-filter="nav_filter" id="jsonMenus">
				<#if (user_menus?? && user_menus?size>0)>
					<#list user_menus as rec>
						<li class="layui-nav-item menus-li">
							<#if (rec.children?? && rec.children?size>0)>
								<a class="" href="javascript:;">
									<#if menuIcon?? && menuIcon!=0>
										<#if rec.iconName??>
											<i class="fa ${rec.iconName}"></i>
											<#else>
												<i class="fa fa-dot-circle-o"></i>
										</#if>
									</#if>
									${rec.name}</a>
								<dl class="layui-nav-child ">
									<#list rec.children as child>
										<dd>
											<#if (child.children?? && child.children?size>0)>
												<a href="javascript:;" class="menu_three ">
													<#if menuIcon?? && menuIcon!=0>
														<#if child.iconName??>
															<i class="fa ${child.iconName}"></i>
															<#else>
																<i class="fa fa-dot-circle-o"></i>
														</#if>
													</#if>
													${(child.name)!}</a>
												<ol class="layui-nav-child" style="position:relative;left:-11px;display: none;">
													<#list child.children as kid>
														<li>
															<a  onclick="openTab('${kid.id}','${kid.name}','${basePath}/menu/view/${kid.id}','iframe','${linkType}')" href="javascript:;">
																<#if menuIcon?? && menuIcon!=0>&nbsp;&nbsp;
																	<#if kid.iconName??>
																		<i class="fa ${kid.iconName}"></i>
																		<#else>
																			<i class="fa fa-dot-circle-o"></i>
																	</#if>
																</#if>
																${(kid.name)!}</a>
														</li>
													</#list>
												</ol>
											<#else>
												<a onclick="openTab('${child.id}','${child.name}','${basePath}/menu/view/${child.id}','iframe','${linkType}');"  href="javascript:;" class="menu_three ">
													<#if menuIcon?? && menuIcon!=0>
														<#if child.iconName??>
															<i class="fa ${child.iconName}"></i>
															<#else>
																<i class="fa fa-dot-circle-o"></i>
														</#if>
													</#if>
													${(child.name)!}</a>
											</#if>
										</dd>
									</#list>
								</dl>
								<#else>
									<a onclick="openTab('${rec.id}','${rec.name}','${basePath}/menu/view/${rec.id}','iframe','${linkType}');"
									   style="color: rgba(255,255,255,.7);background-color: #393D49;" href="javascript:;">
										<#if menuIcon?? && menuIcon!=0>
											<#if rec.iconName??>
												<i class="fa ${rec.iconName}"></i>
												<#else>
													<i class="fa fa-dot-circle-o"></i>
											</#if>
										</#if>
										${rec.name}</a>
							</#if>
						</li>
					</#list>
				</#if>
			</ul>
		</div>
	</div>

	<div class="main-container" id="main-container"><!--style="height:100%;width:100%;left:61px;top:10px;"-->
		<div class="layui-col-sm10 " style="position:absolute;left:48px;width:101%">
			<div class="main-body" id="admin-body" style="height: 96% ;width:100%;position:relative;right:55px;"></div>
		</div>
	</div>
</div>
<script>
    var loginPrompt = '${LOGIN_PROMPT}';
    var updatePwdPrompt = '${UPDATE_REGULARLY_PROMPT}';
    var lastLoginTime = '${lastLoginTime}';
    var SYS_HOME_PAGE_NAME = '${SYS_HOME_PAGE_NAME!}';
    var lastLoginip = '${lastLoginip}';
    var lastLoginAdress = '${lastLoginAdress}';
    var pwdUpdateReg = '${PASSWORD_UPDATE_REGULARLY}';
    var user_menus_json = '${user_menus_json}';
    var changePWD = '${changePWD!}';
    var updatePwdPrompt = '${UPDATE_REGULARLY_PROMPT}';
    
    var isTab = true;
    var contentHeight = document.documentElement.clientHeight-67;
    var contentWidth = document.documentElement.clientWidth-247;
    var myTab;

    window.onresize=function(){
        contentWidth = document.documentElement.clientWidth-247;
        contentHeight = document.documentElement.clientHeight-67;
        $("#main-container").attr('style','height:100%;width:'+contentWidth+'px;position:relative;left:227px;')
        $(".tabs-container").attr("style"," position:relative;height:"+contentHeight+"px;width:100%;margin-top:-34px;margin-left:5px;")
    }

    window.onload=function (){
        $("#main-container").attr('style','height:100%;width:'+contentWidth+'px;position:relative;left:227px;')
        var url = getHomeUrl('${preferType!}','${preferValue!}','${moduleId!}');
        var name = getHomeName('${preferType!}','${preferValue!}','${moduleId!}');
        $('#admin-body').tabs({tabs: myTab});
        myTabs = $('#admin-body').data('zui.tabs');
        myTabs.close();
        openTab("home",name,url,'iframe');
        $(".tabs-container").attr("style"," position:relative;height:"+contentHeight+"px;width:100%;margin-top:-34px;margin-left:5px;")
        if(loginPrompt=="1"){
            loginPromptInfo();
        }
        if(updatePwdPrompt=="1" && pwdUpdateReg=="1" ){
            promptUpdatePwd();
        }
        if(changePWD=="0"){
            changePassword('('+'<@spring.message"First_login"/>'+')');
        } else if (updatePwdPrompt=="1" && changePWD=="1"){
            changePassword('('+'<@spring.message"password_reset"/>'+')');
        }
        var url='';
        var AvatarPath = "${AvatarPath}";
        if(AvatarPath.length != null && AvatarPath.length < 60){
            url = "${basePath}"+"/"+AvatarPath;
        }else{
            url = AvatarPath;
        }
        setPic();
    }
    //JavaScript代码区域
    layui.use(['element', 'jquery','form'], function () {
        var element = layui.element, $ = layui.jquery,form = layui.form
        $(".menus-li").on("click", function () {
            var siblingss = []; //用来存放其他的兄弟节点
            var elseLi = $(this).parent().children();
            for (var i = 0, elseLil = elseLi.length; i < elseLil; i++) {
                if (elseLi[i] !== this) {//判断是否是ele节点，是否与触发事件的节点相同
                    siblingss.push(elseLi[i]);
                }
            }

            for(var i=0;i<$(siblingss).length;i++){
                $(siblingss[i]).attr("class","");
                $(siblingss[i]).attr("class","layui-nav-item menus-li");
			}


		})

        $(".menu_three").on("click", function () {
            $(this).next().toggle();
            $.each($(this).parent().siblings(), function (i, e) {
                $(e).find("ol").hide();;
            });
        })
        $("ol").on("click", "li a", function () {
            $.each($(this).parent().siblings(), function (i, e) {
                $(e).find("a").removeClass('three_this')
            });
            $(this).addClass('three_this');                            // 添加当前元素的样式
        })

        element.init();
        form.on('select(menu-filter)', function(data){
            var dataValue = data.value.split('@');
            if (dataValue[1]!=null) {
                viewResource(dataValue[1],dataValue[3],'search',dataValue[2]);
            }
        });
    });

    function openTabUrl(url){
        $('#content_iframe').attr('src', url);
    }

    function loadSearchData(){
        $.ajax({
            type: "GET",
            url:basePath+'/resource/list',
            success: function(result) {
                var search="<option value=''><@spring.message 'action.query'/></option>";
                var data=utils.toTreeData(result);
                for(var i=0;i<result.length;i++){
                    if(result[i].code!=null&&result[i].code!=""){
                        search+="<option value='loadPage@"+result[i].id+"@"+result[i].name+"@"+result[i].linkType+"'>"+result[i].name+"("+result[i].code.toUpperCase()+")"+"</option>";
                    }else{
                        search+="<option value='loadPage@"+result[i].id+"@"+result[i].name+"@"+result[i].linkType+"'>"+result[i].name+"</option>";
                    }
                }
                $("#menu-sel").append(search);
                layui.form.render();
            }
        });
    }
    function getHomeUrl(type,value,id){
        var URL = '';
        if(type == 'orgHome' || type==null || type=='' || type=='undefined'){
            URL = '${basePath}/module/moduleHome/'+id;
        }else if(type == 'favorites'){
            URL = '${basePath}/collect/index';
        }else if(type == 'personalPage'){
            URL = '${basePath}/userInfo/personalPage';
        }else if(type == 'catalogue'){
            URL = '${basePath}/menu/preferView/'+value;
        }else{//docObject
            URL = '${basePath}/menu/view/'+value;
        }
        return URL;
    }

    function setPic(){
        var url='';
        var AvatarPath = "${AvatarPath}";
        if(AvatarPath.length != null && AvatarPath.length < 60){
            url = "${basePath}"+"/"+AvatarPath;
        }else{
            url = AvatarPath;
        }
        $('#headPic').attr("src",url);
    }
    function changeFrameHeight(){
        var ifm= document.getElementById("content_iframe");
        ifm.height=document.documentElement.clientHeight-60;
        if ($('#bars').hasClass('head-icon-h')) {
            $("#content_right").css('width',document.documentElement.clientWidth-237);
        } else {
            $("#content_right").css('width',document.documentElement.clientWidth);
        }
    }
    function getHomeName(type,value,id){
        var name = '';
        if(type == 'orgHome' || type==null || type=='' || type=='undefined'){
            name = SYS_HOME_PAGE_NAME;
        }else if(type == 'favorites'){
            name = '<@spring.message "config.My_Collection"/>';
        }else if(type == 'catalogue'){//目录
            name = getName(value);
        }else{//docObject
            name = getName(value);;
        }
        return name;
    }

    function openTab(id,name,url,type){
        // 要打开的标签页对象
        var myTab = {
            id:'tabs_'+id,
            url:  url,
            type: type,
            title: name
        };
        // 打开标签页
        myTabs.open(myTab);
    }

    function noticeInfo(id,type,title) {
        var url = '';
        if(type==1){
            url = basePath + '/notice/info?id='+id;
        }else if(type==2){
            var notice;
            $.ajax({
                type: 'post', // 提交方式 get/post
                async:false,
                url: '${basePath}/notice/findOneNotice', // 需要提交的 url
                data:{
                    'id':id
                },
                success: function(res) {
                    notice = res;
                }
            });
            url = notice.content;
        }
        setreadNum(id);
        parent.layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '70%'],
            content: url //iframe的url
        });
    }

    function setreadNum(id){
        $.ajax({
            type: 'post', // 提交方式 get/post
            url: '${basePath}/notice/updateReadNum', // 需要提交的 url
            data:{
                'id':id
            },
            async: true,
            success: function(res) {
            }
        });
    }
    function moreNotice(){
        parent.layer.open({
            type: 2,
            title: '<@spring.message "theme.More_notice"/>',
            area: ['70%', '70%'],
            content: "${basePath}/moContent/content_notice_more/null",
            cancel: function(){
                $("#head").load("${basePath}/reloadHead", null,function(){
                    setPic();
                    layui.use('element', function () {
                        var element = layui.element;
                        element.render('nav', 'nav_filter');
                    })
                })
            }
        });
    }
    function MessageInfo(id,type,title){
        url = basePath + '/messageCenter/info/'+id;
        updateMessageState(id);
        parent.layer.open({
            type: 2,
            title: '<@spring.message "main.Details_of_the_message"/>',
            shadeClose: true,
            shade: 0.5,
            area: ['80%', '70%'],
            content: url, //iframe的url
            cancel: function(){
                $("#head").load("${basePath}/reloadHead", null,function(){
                    setPic();
                    layui.use('element', function () {
                        var element = layui.element;
                        element.render('nav', 'nav_filter');
                    })
                })
            }

        });
    }

    function updateMessageState(id){
        $.ajax({
            type: 'post', // 提交方式 get/post
            url: '${basePath}/messageCenter/update', // 需要提交的 url
            data:{
                'id':id ,
                'isRead':1
            },
            async: true,
            success: function(res) {
                reloadHeadFun();
            }
        });
    }


    function setPreference(id){
    	openTab('setPreference','<@spring.message "setPreference"/>','${basePath}/userInfo/preference/'+id,'iframe')
    }

    function changePassword(msg) {
        parent.layer.open({
            title: '<@spring.message "updatePassword"/>'+ msg,
            type:2,
            content:'${basePath}/userInfo/setPassword',
            area: ['800px', '400px'],
            btn:['<@spring.message"action.ok"/>','<@spring.message"action.cancel"/>'],
            success: function(layero){
            },
            yes:function(index,layero){
                var iframeWin = top.window[layero.find('iframe')[0]['name']];
                var data = iframeWin.getData();
                if (data!=null) {
                    $.ajax({
                        type: "POST",
                        url:'${basePath}/user/updatePwd',
                        data:data,
                        async: false,
                        error: function(request) {
                            parent.layer.msg('<@spring.message "result.addFail"/>！');
                        },
                        success: function(result) {
                            if(result.code==0){
                                parent.layer.close(index);
                                layer.confirm('<@spring.message "theme.Password_modification_is_successful_please_login_again"/>', {title:'<@spring.message "action.info"/>',
                                    btn: ['<@spring.message"action.ok"/>'] //按钮
                                }, function(indexCon){
                                    layer.close(indexCon);
                                    window.location.href = basePath + '/logout';
                                });
                            }else{
                                parent.layer.msg("<@spring.message 'result.fail'/>");
                            }
                        }
                    });
                }

            }
        });
    }

    function loginPromptInfo(){
        var html = '<div style="line-height: 1.8;text-align: left;padding: 0 50px;">'
            +'<i style="font-size:30px" class="layui-icon">&#xe60e;<i/>'
            +'<span style="font-size: 16px;vertical-align: text-top;margin-left: 20px;"><@spring.message "theme.Last_login_information"/></span>'
            +'<div style="font-size: 16px;" ><p style="display: inline-block;width: 39px;"><@spring.message "resource.Time"/></p>：<span>'+lastLoginTime+'</span></div>'
            +'<div style="font-size: 16px;" ><p style="display: inline-block;width: 39px;">IP</p>：<span>'+lastLoginip+'</span></div>'
            +'<div style="font-size: 16px;" ><p style="display: inline-block;width: 39px;"><@spring.message "theme.place"/></p>：<span>'+lastLoginAdress+'</span></div>'
            +'</div>';
        parent.layer.open({
            title: '<@spring.message "login.sign"/><@spring.message "action.info"/>',
            type: 1,
            offset: 'rb', //右下角弹出
            area: ['340px', '215px'],
            shadeClose:true,
            content: html
        });
    }

    function promptUpdatePwd(){
        parent.layer.open({
            title: '<@spring.message "theme.Regular_password_modification_prompt"/>',
            type: 1,
            offset: 'rb', //右下角弹出
            area: ['340px', '215px'],
            content: '<div style="padding: 15px;" >'
            +'<div><span style="font-size: 16px;"><@spring.message "theme.Your_password_has_exceeded_the_time_limit_for_modification_Please_amend_it_in_time"/></span></div>'
            +'<div style="padding-top: 20px;padding-left: 20px;" ><span style="color: red;">>>></span><a style="cursor:pointer;" id="promptUpdatePwd" ><@spring.message "updatePassword"/></a></div>'
            +'</div>'
        });
    }

    $(document).on('click', '#promptUpdatePwd', function () {
        changePassword("");
    });
    
    function reloadHeadFun(){//定义刷新head的方法，方便子页面调用父页面方法。
        $("#head").load("${basePath}/reloadHead", null,function(){
            setPic();
            layui.use('element', function () {
                var element = layui.element;
                element.render('nav', 'nav_filter');
            })
        })
    }
    function setAllNoticeRead(){//设置全部通知为已读
        $.ajax({
            type: 'post', // 提交方式 get/post
            url: '${basePath}/notice/setAllNoticeRead', // 需要提交的 url
            async: false,
            success: function(res) {
            }
        });
        reloadHeadFun();
    }

    function setAllMessageRead(){//设置全部消息为已读
        $.ajax({
            type: 'post', // 提交方式 get/post
            url: '${basePath}/messageCenter/setAllRead', // 需要提交的 url
            async: false,
            success: function(res) {
            }
        });
        reloadHeadFun();
    }
    
    function clearAllMessage(){//设置全部消息为已读
        parent.layer.confirm('<@spring.message "theme.Clear_all_messages"/>？', {
            title: '<@spring.message "action.info"/>',
            btn: ['<@spring.message "action.ok"/>', '<@spring.message "action.cancel"/>'],
            yes: function (index, layero) {
                $.ajax({
                    type: 'DELETE', // 提交方式 get/post
                    url: '${basePath}/messageCenter/clearAllMessage', // 需要提交的 url
                    async: false,
                    success: function (res) {

                        layer.close(index);
                    }
                });
                reloadHeadFun();
            }
        });
	}

    function moreMessage(){//
        parent.layer.open({
            type: 2,
            title: '<@spring.message "main.More_information"/>',
            area: ['70%', '70%'],
            content: "${basePath}/moContent/content_message_more",
            cancel: function(){
                $("#head").load("${basePath}/reloadHead", null,function(){
                    setPic();
                    layui.use('element', function () {
                        var element = layui.element;
                        element.render('nav', 'nav_filter');
                    })
                })
            }
        });
    }
    $('#bars').on('click',function(e){
        if ($(this).hasClass('head-icon-h')) {
            $(this).removeClass('head-icon-h');
            $(this).addClass('head-icon-v');
            $('.content-left').animate({
                    width: '0px',
                },function(){
                    $('#admin-navbar-side').css('width','0px');

                }
            );
            $("#content_right").css('width',document.documentElement.clientWidth);
            //$('.content-left').removeClass('content-left-display');
            //$('.content-left').addClass('content-left-hide');
        } else {
            $(this).removeClass('head-icon-v');
            $(this).addClass('head-icon-h');
            $('.content-left').animate({
                    width: '220px',
                }
            );
            $('#admin-navbar-side').css('width','237px');
            $("#content_right").css('width',document.documentElement.clientWidth-220);
            //$('.content-left').removeClass('content-left-hide');
            //$('.content-left').addClass('content-left-display');
        }
    });


    function historyLog(resourceId){
        top.layer.open({
            type: 2,
            title: "<@spring.message 'main.Visiting_History'/>",
            closeBtn: 1, //不显示关闭按钮
            shade: [0.2, '#393D49'],
            area: ['300px', '90%'],
            shadeClose:true,
            offset: 'rb', //右下角弹出
            anim: 2,
            content: [basePath+'/historyLog'], //iframe的url，no代表不显示滚动条
            end: function(){ //此处用于演示
            }
        });
    }
    function getName(id){
        var name = '';
        $.ajax({
            type: "GET",
            url:'${basePath}/menu/info/'+id,
            async: false,
            error: function(request) {
            },
            success: function(result) {
                if(result.data!=null){
                    var data = result.data;
                    name = data.name;
                }
            }
        });
        return name;
    }

    function showTab(id,resourceId,name,linkType){
        updateMessageState(id);
        if(linkType!=null&&linkType==1){
            if(this.openTab){
                reloadHeadFun();
                openTab(resourceId,name,"${basePath!}/resource/view/"+resourceId,"iframe");
                commentOpen(resourceId,"<@spring.message 'Comment_area'/>");
            }else{
                reloadHeadFun();
                window.open("${basePath!}/resource/view/"+resourceId);
                commentOpen(resourceId,"<@spring.message 'Comment_area'/>");
            }
        }else{
            reloadHeadFun();
            window.open("${basePath!}/resource/view/"+resourceId);
            commentOpen(resourceId,"<@spring.message 'Comment_area'/>");
        }
    }
    
    function showTab2(id,issueId,title,linkType){
        updateMessageState(id);
        if(linkType!=null&&linkType==1){
            if(this.openTab){
                reloadHeadFun();
                openIssesInfo(issueId);
            }else{
                reloadHeadFun();
                openIssesInfo(issueId);
            }
        }else{
            reloadHeadFun();
            openIssesInfo(issueId);
        }
    }
    
    function openIssesInfo(id){
  		var isSubmit = false;
    	parent.layer.open({
			title: '<@spring.message"issue.Details_of_the_problem"/>',
			type:2,
			content:'${basePath}/issue/info?id='+id,
			area: ['80%', '600px'],
			btn:['<@spring.message"issue.quit"/>'],
			success: function(layero){
				var iframeWin = top.window[layero.find('iframe')[0]['name']]; 
				iframeWin.init();
			},
			yes:function(index,layero){
				parent.layer.close(index);
    		}
		});
  	}

    function commentOpen(resourceId,name){
        top.layer.open({
            type: 2,
            title: name,
            closeBtn: 1, //不显示关闭按钮
            shade: [0.2, '#393D49'],
            area: ['20%', '90%'],
            maxmin: true, //开启最大化最小化按钮
            shadeClose:true,
            offset: 'rb', //右下角弹出
            anim: 2,
            content: [basePath+'/comment/index/'+resourceId], //iframe的url，no代表不显示滚动条
            end: function(){ //此处用于演示
            }
        });
    }
    
    var socket;
    var noticeMsg="${noticeMsg}";
    var commentMsg="${commentMsg}";
    var systemMsg="${systemMsg}";
    var issueMsg="${issueMsg}";
    if(typeof(WebSocket) == "undefined") {
        console.log("您的浏览器不支持WebSocket");
    }else{
        console.log("您的浏览器支持WebSocket");
        //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
        //等同于socket = new WebSocket("ws://localhost:8083/checkcentersys/websocket/20");
        var path='${basePath}'.split("//")[1];
        socket = new WebSocket("ws://"+path+"/websocketNews/"+"${user.id}");
        //打开事件
        socket.onopen = function() {
            console.log("Socket 已打开");
            //socket.send("这是来自客户端的消息" + location.href + new Date());
        };
        //获得消息事件
        socket.onmessage = function(msg) {
            if (msg.data == "1") {
                reloadHeadFun();
            } else if (msg.data == "2") {
                if (noticeMsg == 1) {
                    reloadHeadFun();
                    /*layer.tips('<@spring.message "main.You_have_a_new_message"/>', '#aaa', {
                        tips: [1, '#3595CC'],
                        time: 4000

                    });*/
                }
            } else if (msg.data == "3") {
                if (commentMsg == 1) {
                    reloadHeadFun();
                   /* layer.tips('<@spring.message "main.You_have_a_new_message"/>', '#aaa', {
                        tips: [1, '#3595CC'],
                        time: 4000
                    });*/
                }
            }else if (msg.data == "4") {
                if (systemMsg == 1) {
                    reloadHeadFun();
                   /* layer.tips('<@spring.message "main.You_have_a_new_message"/>', '#aaa', {
                        tips: [1, '#3595CC'],
                        time: 4000
                    });*/
                }
            }else if (msg.data == "5") {
                if (issueMsg == 1) {
                    reloadHeadFun();
                   /* layer.tips('<@spring.message "main.You_have_a_new_message"/>', '#aaa', {
                        tips: [1, '#3595CC'],
                        time: 4000
                    });*/
                }
            };
        };
        //关闭事件
        socket.onclose = function() {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        socket.onerror = function() {
            console.log("Socket发生了错误");
            //此时可以尝试刷新页面
        }

    }

</script>
</body>
</html>