<#include "common/common.html" />
<form id="form_edit" lay-filter="form_edit" class="layui-form " action="">
	<input type="hidden" name="id" id="id"/>
	<div class="layui-form-item">
		<label class="layui-form-label label-required-diy"><@spring.message'resource.Name_of_superior'/></label>
	    <div class="layui-input-block" >
	    	<input type="hidden" name="parentId" id="parentId">
	      <input type="text" id="parentName" name="parentName" readonly value=""
					class="layui-input">
	    </div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label label-required-diy"><@spring.message'resource.type_name'/></label>
	    <div class="layui-input-block" >
	      <input type="text" id="name" name="name"  lay-verify="required|length" lay-verType="tips" class="layui-input" placeholder="<@spring.message'tips.inputSome'/>">
	    </div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label"><@spring.message'list.order'/></label>
	    <div class="layui-input-block" >
	      <input type="number" name="sort"  min="1" max="100" value="1"
					placeholder="<@spring.message'resource.please_enter_value'/>" autocomplete="off" class="layui-input">
	    </div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label"><@spring.message"resource.Explain"/></label>
	    <div class="layui-input-block" >
	      <textarea id="remark" name="remark"  lay-verify="textarea" lay-verType="tips" class="layui-textarea" placeholder="<@spring.message'tips.inputSome'/>"></textarea>
	    </div>
	</div>
	<button class="layui-hide" lay-submit  id="btn_submit" lay-filter="btn_submit"><@spring.message'action.save'/></button>
</form>

<script type="text/javascript">
	var is_verify = false;
	var content = '';
	layui.use([ 'form','laydate','layedit'],function() {
		var form = layui.form,
			laydate = layui.laydate,
			layedit = layui.layedit;
		
		//构建一个默认的编辑器
		  var index = layedit.build('content');
		laydate.render({
		    elem: '#releaseTime',
		    type: 'datetime',
		    theme: '#1e9fff',
		    format:'yyyy-MM-dd HH:mm:ss',
		  });
		form.verify({
			  length: function(value,item){
				  if(value.length<2 || value.length>30){
				      return '<@spring.message"biMapping.please_enter_2_to_30_characters"/>';
				  }
			  },
			  textarea: function(value,item){
				  if(value.length>250){
				      return '<@spring.message"biMapping.Length_should_not_exceed_250"/>';
				  }
			  }
			})  
		form.on('submit(btn_submit)', function(data){
			is_verify = true;
			$('#contentInput').val(layedit.getContent(index));
			return false;
		})
		
		$('#btn_init').on('click',function(){
			layedit.setContent(index, content, true);
		})
		
		
		
		form.render()
	});
	
	function init (record) {
		/* 
		$.get('/sysRelease/info/'+record.id,function(result){
			layui.form.val('form_edit',result.data);
		});
		 */
		record.releaseTime = utils.tmDate.getFormatDateByLong(record.releaseTime);
		content = record.content;
		var obj = Object.assign({}, record); 
		layui.form.val('form_edit',obj);
		$('#btn_init').click();
	}
	
  	
	function getData(){
		$('#btn_submit').click();
		var params = $('#form_edit').serialize();
		params = decodeURIComponent(params,true);
		if (is_verify) {
			return params ;
		} else { 
			return null;
		}
  	}
	
	
</script>
