 <#include "common/common.html" />
 <style>
 	.my-label {
 		width:100px!important;
 	}
 	 	.wide-input {
 		width:85%;
 	}
 </style>
<form id="form_add" class="layui-form" action=""
	style="padding-top:10px;">
	<div style="margin-left:100px;">
		<input type="hidden" name="parentId" id="parentId">
		<input type="hidden" name="id" id="id" value="${(record.id)!}">
		<input type="hidden" name="resourceId" id="resourceId" value="${(record.id)!}">
		<input type="hidden" name="projectId" id="projectId" value="${(record.projectId)!}">
		<input type="hidden" name="reportId" id="reportId" value="${(record.reportId)!}">
		<input type="hidden" name="typeName" id="typeName" value="${(record.typeName)!}">
		<input type="hidden" name="typeValue" id="typeValue" value="${(record.typeValue)!}">
		<div class="layui-form-item">
			<label class="layui-form-label my-label"><@spring.message "menu.Superior_menu"/></label>
			<div class="layui-input-inline">
				<input type="text" id="parentName" name="parentName" readonly value=""
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label my-label"><@spring.message "list.type"/></label>
			<div class="layui-input-block">
				<#list types as item>
				<input type="radio" name="type" lay-filter="type" value="${(item.itemValue)!}" title="${(item.itemName)!}" ${(item.itemValue==record.type)?string('checked','')}> 
				</#list>
				<!-- <input type="radio" name="type" lay-filter="type" value="1" title="系统菜单" ${(record.type==1)?string("checked","")} > 
				<input type="radio" name="type" lay-filter="type" value="2" title="MSTR报表" ${(record.type==2)?string("checked","")} >
				<input type="radio" name="type" lay-filter="type" value="3" title="帆软报表" ${(record.type==3)?string("checked","")} >
				<input type="radio" name="type" lay-filter="type" value="4" title="tableau报表" ${(record.type==4)?string("checked","")} >
				<input type="radio" name="type" lay-filter="type" value="5" title="外部链接" ${(record.type==5)?string("checked","")} > -->
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label my-label"><@spring.message "menu.Menu_name"/></label>
			<div class="layui-input-inline">
				<input type="text" name="name" value="${(record.name)!}" lay-verify="required" placeholder="<@spring.message 'userInfo.Please_enter_a_name'/>"
					autocomplete="off" class="layui-input">
			</div>
		</div>
<!-- 		<div class="layui-form-item">
			<label class="layui-form-label my-label">链接地址</label>
			<div class="layui-input-block">
				<input type="text" name="linkUrl"  value="${(record.linkUrl)!}" placeholder="请输入"
					autocomplete="off" class="layui-input wide-input">
			</div>
		</div> -->
		<div class="layui-form-item">
			<label class="layui-form-label my-label"><@spring.message "versionNotice.linkaddress"/></label>
			<div class="layui-input-inline" style="width:50%">
				<textarea placeholder="<@spring.message 'tips.inputSome'/>" class="layui-textarea" name="linkUrl" id= "linkUrl" >${(record.linkUrl)!}</textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label my-label"><@spring.message "list.order"/></label>
			<div class="layui-input-inline">
				<input type="number" name="sort" value="${(record.sort)!1}" min="1" max="100" value="1"
					placeholder="<@spring.message 'resource.please_enter_value'/>" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label my-label"><@spring.message "resource.Open_with"/></label>
			<div class="layui-input-block">
				<input type="radio" name="linkType" value="1" title="<@spring.message 'resource.Current_page'/>" ${(record.linkType==1)?string("checked","")} />
				<input type="radio" name="linkType" value="2" title="<@spring.message 'resource.New_tab_page'/>" ${(record.linkType==2)?string('checked','')} />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label my-label"><@spring.message "moContent.Icon"/></label>
			<div class="layui-input-inline">
				<input type="hidden" name="iconName" id="iconName"
					placeholder="<@spring.message 'resource.please_enter_value'/>" value="${(record.iconName)!}" autocomplete="off" class="layui-input">
				<button type="button" class="layui-btn layui-btn-sm layui-btn-normal " id="icon_sel" ><@spring.message "resource.Choose"/></button>
				<i class="fa fa-2x ${(record.iconName)!}" id="icon_img"></i>
			</div>
		</div>
		<div class="layui-form-item layui-hide" id="hiddenSecDiv">
		    <label class="layui-form-label my-label"><@spring.message "resource.Report_Hidden_Area"/></label>
		    <div class="layui-input-block" lay-filter="hiddenSections">
		      <input type="checkbox" name="hiddenSections" value="header" title="header" ${(record.hiddenSections?index_of('header')!=-1)?string('checked','')}>
		      <input type="checkbox" name="hiddenSections" value="footer" title="footer" ${(record.hiddenSections?index_of('footer')!=-1)?string('checked','')}>
		      <input type="checkbox" name="hiddenSections" value="path" title="path" ${(record.hiddenSections?index_of('path')!=-1)?string('checked','')}>
		      <input type="checkbox" name="hiddenSections" value="dockTop" title="dockTop" ${(record.hiddenSections?index_of('dockTop')!=-1)?string('checked','')}>
		      <input type="checkbox" name="hiddenSections" value="dockLeft" title="dockLeft" ${(record.hiddenSections?index_of('dockLeft')!=-1)?string('checked','')}>
		    </div>
		</div>
	</div>
</form>
<!-- 弹窗 -->
	<div id="iconSelDialog" style="display:none">
		<#include "resource/icon_select.html" />
	</div>
<script type="text/javascript">
	function init (parentNode) {
		$('#parentName').val(parentNode.name);
		$('#parentId').val(parentNode.id);
		var type = '${(type)!}';
		if (type==2) {
			$('#hiddenSecDiv').removeClass('layui-hide');
		}
	}
	
	function getData(){
		
		if (check()) {
			return $('#form_add').serialize();
		} else {
			return null;
		}

  	}
  	
  	function check() {
  		var name = $("input[name='name']").val();
  		if (name==null || name == '') {
  			$("input[name='name']").addClass("layui-form-danger");
  			$("input[name='name']").focus();
  			layer.tips('<@spring.message "resource.Content_cannot_be_empty"/>', '#name');
  			//parent.layer.msg('请输入菜单名称', {icon: 0,anim: 6});
  			return false;
  		}
  		return true;
  	}
	
	layui.use([ 'form', 'layedit', 'laydate' ],function() {
		var form = layui.form, 
			layer = layui.layer, 
			layedit = layui.layedit, 
			laydate = layui.laydate;
			
		form.on('radio(type)', function(data){
			var type = data.value;
			if (type==2) {//报表
				var isSubmit = false;
				parent.layer.open({
					title: '<@spring.message "resource.Select_Report"/>',
					type:2,
					content:'${basePath}/biProject/select/mstr',
					area: ['800px', '500px'],
                    btn:['<@spring.message"action.ok"/>','<@spring.message"action.cancel"/>'],
					success: function(layero){
					},
					yes:function(index,layero){
						if(!isSubmit){
							isSubmit = true;
			    			var iframeWin = top.window[layero.find('iframe')[0]['name']]; 
							var data = iframeWin.getData();
							if(data!=null){
								console.log(data);
								$('#name').val(data[0].name);
								$('#projectId').val(data[0].projectId);
								$('#reportId').val(data[0].reportId);
								$('#typeName').val(data[0].typeName);
								$('#typeValue').val(data[0].typeValue);
								parent.layer.close(index);
							}else{
								isSubmit = false;
							}
						}
		    		}
				});
				$("#hiddenSecDiv input[type='checkbox']").prop("checked",false);
				form.render('checkbox');
				$('#hiddenSecDiv').removeClass("layui-hide");
			}else if (type==5) {//bo报表
				var isSubmit = false;
				parent.layer.open({
					title: '<@spring.message "resource.Select_Report"/>',
					type:2,
					content:'${basePath}/biProject/select/bo',
					area: ['800px', '500px'],
                    btn:['<@spring.message"action.ok"/>','<@spring.message"action.cancel"/>'],
					success: function(layero){
					},
					yes:function(index,layero){
						if(!isSubmit){
							isSubmit = true;
			    			var iframeWin = top.window[layero.find('iframe')[0]['name']]; 
							var data = iframeWin.getData();
							if (data!=null && data.length>0) {
								if (data.length>1) {
									var reports = JSON.stringify(data);
									$('#reports').val(reports);
									console.log($('#reports').val());
									var names = '';
									$.each(data,function(i,rec){
										names += rec.name + ',';
									});
									$('#reports_name').val(names);
									$('#name_div').addClass('layui-hide');
									$('#linkUrl_div').addClass('layui-hide');
									$('#reports_div').removeClass('layui-hide');
								} else {
									$('#name').val(data[0].name);
									$('#projectId').val(data[0].projectId);
									$('#reportId').val(data[0].reportId);
									$('#typeName').val(data[0].typeName);
									$('#typeValue').val(data[0].typeValue);
									$('#linkUrl').val(data[0].linkUrl);
									$('#reports_name').val(names);
									$('#reports_div').addClass('layui-hide');
									$('#name_div').removeClass('layui-hide');
									$('#linkUrl_div').removeClass('layui-hide');
								}
								parent.layer.close(index);
							} else {
								isSubmit = false;
								parent.layer.msg('<@spring.message "resource.Please_select_the_report_form"/>！');
							}
						}
		    		}
				});
				$('#hiddenSecDiv').addClass('layui-hide');
				$("#hiddenSecDiv input[type='checkbox']").prop("checked",true);
				form.render('checkbox');
			} else {
				$('#hiddenSecDiv').addClass("layui-hide");
				$("#hiddenSecDiv input[type='checkbox']").prop("checked",false);
				form.render('checkbox');
			}
		});  
		
		

		var iconSelContent = $('#iconSelDialog').html();
		$('#icon_sel').on('click',function(){
			 var indexSel = layer.open({
				title: '<@spring.message "resource.Select_Icon"/>',
				type:1,
			    content: iconSelContent,
			    area: ['80%', '80%'],
			    success: function(layero){
					$('.site-doc-icon li').on('click',function(e){
						$('#icon').val($(this).find('.doc-icon-code').text());
						//$('#icon_img').text($(this).find('.doc-icon-code').text());
						$('#icon_img').addClass($(this).find('.doc-icon-code').text());
					    $('#iconName').val($(this).find('.doc-icon-code').text());
						layer.close(indexSel);
					    
					})
				}
			}); 
		});
		
	})
	
	
</script>
