<!DOCTYPE html>
<html>
  <head>
    <title>异常.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  <#include "common/common.html" />
<body>
	<div class="layui-container">
		<blockquote class="layui-elem-quote " style="color:#FF5722">${msg!'<@spring.message "tips.actionError"/>，<@spring.message "tips.connectAdmin"/>！'}</blockquote>
	</div>
</body>
</html>
